$myRed: #990000;
$darkerRed: rgb(53, 18, 18);

.logo {
  font-weight: 900;
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient($myRed, $darkerRed);
  background-clip: text;
  color: transparent;
  margin-left: 1em;
}

.page-wrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.main-header {
  display: flex;
  flex-flow: row;
  border-bottom: 3px solid $darkerRed;
}

.content {
  flex: 1;
  padding: 1em;
}

.main-footer {
  background: #000;
  text-align: center;
  color: #fff;
}