$myRed: #990000;
$darkerRed: rgb(53, 18, 18);
// All forms in general should share these styles:
form {
  display: flex;
  flex-flow: column;
}
.player-name {
  color: $myRed;
}
.logo {
  font-weight: 900;
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient($myRed, $darkerRed);
  background-clip: text;
  color: transparent;
  margin-left: 1em;
}

.page-wrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin-top: 60px;
}
.main-header {
  display: flex;
  flex-flow: row;
  border-bottom: 3px solid $darkerRed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  justify-content: space-between;
}
.sub-menu {
}

.content {
  flex: 1;
  padding: 1em;
}
.constrain {
  max-width: 1200px;
  margin: 0 auto;
}

.main-footer {
  background: #000;
  text-align: center;
  color: #fff;
}
.mobile {
  display: none;
}
// if the screen gets smaller than 800px, these rules take effect
@media (max-width: 800px)
{
  body {
    font-size: 20px;
  }
  .desktop {
    display: none !important;
  }
  .logo {
    font-size: 1.5em;
  }
  .mobile {
    display: block;
  }
}